<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Formulario de Registro de Usuarios Nuevos
            </div>
<div class="card-body">
    <form action="/users/nuevousr" method="post">
    <div class="form-group">
        <input type="text" class="form-control" name="nombre" placeholder="Nombre" required>
    </div>
<br>
<div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email" required>
    </div>
    <br>
 <div class="form-group">
        <input type="text" class="form-control" name="rol" placeholder="Rol" required>
    </div>
    <br>
 <div class="form-group">
        <input type="text" class="form-control" name="estado" placeholder="Estado" required>
    </div>
<br>

    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <br>
    <div class="form-group">
        <input type="password" class="form-control" name="confirm_password" placeholder="Password" required>
    </div>
    <br>
 <div class="form-group">
       <button type="submit" class="btn btn-primary btn-block"> Registrarse</button>
    </div>

    </form>
</div>



        </div>
    </div>
</div>