

<div class="row">
<div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
        <div class="card-header">
            <img src="/images/gwentit.png" alt="Gwen Logo" class=" mx-auto">
            <div class="card-body">
                <form action="/users/signin" class="" method="post">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="email" autofocus required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning btn-sm">
                            Login
                        </button>
                    </div>

                    <div class="google"><a class="btn btn-lg btn-google btn-block  btn-outline" href="/users/google"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Entra usando Google</a> </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>