

¨<div class="col-md-4 mx-auto">
<div class="card"> 
    <div class="card-body">
<h3>Nuevo Producto</h3>
    </div>
    <div class="card-body">
        <form action="/prod/nuevoprod" method="post">
        
        <div class="formulario">
        <label for="descripcion" class="formulario__label"><h5>Descripción</h5></label>
        <div class="form-group">
           <input type="text" name="descripcion" class="form-control" placeholder="Descripción del producto" autofocus required> 
        </div>
        </div>
                    <div>&nbsp;</div>
        <div class="formulario">
        <label for="categoria" class="formulario__label"><h5>Categoría</h5></label>
        <div class="form-group">
            <input type="text" name="categoria" class="form-control" placeholder="categoria del producto" required> 
        </div>
        </div>
                <div>&nbsp;</div>
         <div class="formulario">
        <label for="valor" class="formulario__label"><h5>Valor Unitario</h5></label>
        <div class="form-group">
           <input type="text" name="valorUnitario" class="form-control" placeholder="valor Unitario" required > 
        </div>
         </div>
                <div>&nbsp;</div>
        <div class="formulario">
        <label for="estado" class="formulario__label"><h5>Estado</h5></label> 
        <div class="form-group">
           <input type="text" name="estado" class="form-control" placeholder="Estado del producto" required> 
        </div>
        </div>
        <div>&nbsp;</div>
        <div class="form-group" >
            <button class="btn btn-primary btn-blocl" type="submit">
                Enviar
            </button>
        </div>
        </form>
    </div>
    
</div> 
</div>