<div class="card">
    <div  class="card-body">
        <h1>About Gwen</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Odio assumenda maxime numquam labore ut quasi commodi aliquam et dolorem! 
            A nihil deleniti mollitia cumque saepe vero ipsa autem, officiis possimus.</p>
    </div>
</div>