<div>&nbsp;</div>
<div class="jumbotron-mt-4">
    <div class="card">
    <h1 class="display-4">Gwen</h1>
   <nav class="navbar navbar-light bg-light">
<form class="form-inline" action="/edit/{{_id}}?_method=PUT" method="post">
    <input class="form-control mr-sm-2" type="search" name="_method" value="{{_id}}" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
  </form>
    </nav> 
    <p class="lead">Administrador de Ventas </p>


<hr>
<div class="container">
  <div class="row">
    <div class="col-sm">
<div class="button"> 
<a class="btn btn-primary" href="/listaventas" role="button">Listado</a>
</div>
</div>
<div class="col-sm">
<div class="button"> 
<a class="btn btn-primary" href="/addventa" role="button">Agregar</a>
</div>
</div>

</div>
</div>

<p></p>

    
</div>
</div>